.mission-card {
  align-content: space-around;
  align-items: flex-start;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

.mission-card div {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  text-align: start;
  width: 300px;
}

.mission-card div p {
  color: white;
  display: flex;
  margin: 5px;
}

.mission-card div p span {
  margin-right: 5px;
}
