.planet-section {
  align-content: space-around;
  align-items: flex-start;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 60px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 80px;
  text-align: center;
}
