.planet-section {
    border: 1px solid black;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
    align-content: space-around;
    align-items: flex-start;
    justify-content: space-around;
}

h2 {
    padding: 10px;
    margin: 5px;
    font-size: 60px;
    text-align: center;
    color: white;
}


h1{
    font-size: 80px;
    text-align: center;
    color: white;
}